.onceover
*.swp
.todo.txt.bak
.DS_Store
.yardoc
/.vagrant
/modules/software/files/*
/modules/archive
/modules/augeasproviders_core
/modules/augeasproviders_sysctl
/modules/concat
/modules/debconf
/modules/easy_type
/modules/echo
/modules/firewall
/modules/firewalld
/modules/limits
/modules/ora_config
/modules/ora_install
/modules/pwshlib
/modules/stdlib
/modules/swap_file
/modules/timezone
/modules/ora_cis
/modules/ora_profile
/puppet-enterprise-2019.3.0-el-7-x86_64.tar.gz
/LINUX.X64_193000_db_home.zip
/modules/em_license/files/Universal.entitlements
